@import './modal';

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.main_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    width: 30%;
    padding: 1%;
    background: rgb(129,122,255);
    border: black solid 2px;
    text-align: center;
}

.error{
    color: rgb(224, 1, 1) !important;
}

.server-message{
    color: rgb(0, 255, 0);
}