.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

input {
    width: 100%;
}

.main_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    width: 30%;
    padding: 1%;
    background: rgb(129,122,255);
    border: black solid 2px;
    text-align: center;
}

.btn-submit{
    width: min-content;
    padding: 0 1%;
    border-radius: 12%;
    border: solid black 1px;
    background-color: aqua;
}